@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

body{
    font-family: "Mulish", sans-serif;
    margin: 0 auto;
}

*{
    margin: 0;
}
.font-color{
    color: #FF5400;
}
.btn-primary{
    width: 174px;
    height: 52px;
    border-radius: 8px;
    background: rgb(255, 84, 0);

}
/* <!-- Navbar starts--> */
nav{
    width: 90%;
    margin: 3rem auto;
}
.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-logo-content{
    display: flex;
    align-items: center;
    gap: 10px;
    /* border: 2px solid red; */
    width: 250px;
}
.nav-logo-content img{
    width: 48px;
    height: 56px;
}
.nav-logo-content h3{
    font-size: 30px;
    font-weight: 800;
    text-align: left;
    color: #131318;
}
.nav-option-content{
    width: 506px;
    height: 43px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0px 10px 0px;
    gap: 5px;

}
.nav-option-content p{
    width: 80px;
    height: 23px;
    color: rgb(66, 66, 71);
    font-size: 18px;
    font-weight: 400;
    margin: 0px 20px
}
/* <!-- Navbar ends--> */

/* <!-- Banner starts here  -->  */

.banner-container{
    width: 90%;
    margin: 0 auto;
    border-radius: 16px;
    background: linear-gradient(180.00deg, rgba(19, 19, 24, 0.8),
    rgba(19, 19, 24, 0) 100%), 
    url('/Images/Group\ 13\ \(1\)\ \(1\).png');
    padding: 10rem 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}

.banner-content{
    height: 288px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.banner-content h3{
    width: 700px;
    height: 80px;
    font-size: 64px;
    font-weight: 800;
    color: rgb(255, 255, 255);
    margin-bottom: 24px;
}
.banner-content p{
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 24px;
}
.banner-input{
    height: 84px;
    margin: 2rem auto;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.3);
    padding: 16px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    backdrop-filter: blur(4px);
}
.banner-input input, select{
    width: 174px;
    height: 52px;
    border-radius: 8px;
    background: rgb(255, 255, 255);
    margin: 0 16px;
    padding: 0 1rem ;
    border: none;
    font-size: 16px;
}
/* <!-- Banner ends here  -->  */

